* {
  /* Override default margins*/
  --pagedjs-margin-right: 0.15in;
  --pagedjs-margin-left: 0.2in;
  --pagedjs-margin-top: 0.75in;
  --pagedjs-margin-bottom: 0.75in;
}



:root{
  --sidebar-width: 13rem; /* side bar width */
  --sidebar-background-color: #CEE5EE;
  --decorator-border: 2px solid #0B7FAB; /* change color and thickness of timeline */

}

.decorator::after{
  background-color: #0B7FAB; /* change color timeline dots */

}


/* Define the font family here */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Merriweather&family=Montserrat:wght@300;600&display=swap');

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

div#title > h1 {
  font-family:  'Montserrat', sans-serif;
}

h2, h3 {
  font-family:  'Montserrat', sans-Serif;
}

/* Change some font sizes */
/* div#contact > a {font-size: 9;} */


/* Adjust Aside so it fits and centers properly */
div#aside{
  position: relative;
  left: -5px;
  width: 220px;
}

/* Make Picture rounded */
div.profile-pic > p > img{
  border-radius: 25%;
}


/* div#title > h1 {text-transform: capitalize;} */


